@inherits LayoutComponentBase

<MediaQueryList>
    <TelerikRootComponent>

        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <a href="https://www.telerik.com/blazor-ui" target="_blank">Telerik Blazor</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>

    </TelerikRootComponent>
</MediaQueryList>